<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Garbage</title>
</head>
<body>
    <script>
        let playerHandArray = convertStringToArray("{{playerHand}}");
        let i = 0
        playerHandArray.forEach((element) => {
          let cardDiv = document.createElement("div");
          document.body.appendChild(cardDiv);
          cardDiv.innerHTML =
            '<div class=playingCard onclick="cardClicked(' + i + ')">  <div class="top">' +
            element.charAt(0) +
            '</div><div class = "text">' +
            element.substring(1) +
            '</div> <div class = "bottom">' +
            element.charAt(0) +
            "</div></div>";
          i++
        });
        async function pullFromDeck(){ // Returns new card data from deck
            let obj
            let cardData
            const res = fetch(`/garbageDeckPull/`);
            obj = (await res).json();
            await obj.then(data => cardData = data.valueOf()) //Dont remove console.log
            console.log(cardData);
        }
        async function cardClicked(data) { // This grabs the array from main.py when a card is clicked
            let obj
            let cardData
            const res = fetch(`/garbageCardData/${JSON.stringify(data)}`);
            obj = (await res).json();
            await obj.then(data => cardData = data.valueOf()) //Dont remove console.log
            console.log(cardData);
        }
        function convertStringToArray(inputString){
            inputString = inputString.replaceAll("&#39;", "");
            inputString = inputString.replaceAll("[", "");
            inputString = inputString.replaceAll("]", "");
            inputString = inputString.replaceAll(" ", "");
            inputString = inputString.split(',')
            return inputString;
        }
    </script>
    <a href="/return/">Return to home</a>
    <a href="/garbageReset/">Reset</a>
    <a onclick="pullFromDeck()">Pull From Deck</a>
    <p>Your current card is {{currentCard}}</p>
</body>
</html>