<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles/landingPage.css" />
    <title>Card Games Collection</title>
  </head>
  <body>
    <div class="header">Card Games Collection</div>
    <div class="main">
      <a href="/blackjack/">
        <div class="card">
          <div class="top">♠</div>
          <div class="text">Blackjack</div>
          <div class="bottom">♠</div>
        </div>
      </a>
      <div class="card">
        <div class="top">♥</div>
        <div class="text">Garbage</div>
        <div class="bottom">♥</div>
      </div>
      <div class="card">
        <div class="top">♣</div>
        <div class="text">Solitaire</div>
        <div class="bottom">♣</div>
      </div>
      <div class="card">
        <div class="top">♦</div>
        <div class="text">Crazy 8's</div>
        <div class="bottom">♦</div>
      </div>
    </div>
    <div class="footer">Created By: {{credits}}</div>
  </body>

</html>
