<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles/test.css" />
    <title>Testing Boxes</title>
</head>
<body>
    <div class="lines" style="background: #1b3b6f" id="player1Cards">
        <div class="card">
            <div class="top">?</div>
            <div class="text">A</div>
            <div class="bottom">?</div>
        </div>
    </div>
    <div class="lines" style="background: #065a82" id="seperator">
        <div class="card">
            <div class="top">?</div>
            <div class="text">A</div>
            <div class="bottom">?</div>
        </div>
        <div class="card">
            <div class="top">?</div>
            <div class="text">A</div>
            <div class="bottom">?</div>
        </div>
    </div>
    <div class="lines" style="background: #709aae" id="player2Cards">
        <div class="card">
            <div class="top">?</div>
            <div class="text">A</div>
            <div class="bottom">?</div>
        </div>
    </div>
</body>
</html>